<footer class="footer">
  <div class="contenido">
    <p>© 2026 Instituto Gabriel Aresti</p>
    <p>Educación con valores y excelencia académica</p>
  </div>
  <div>
    <h4 class="titulo-redes">Síguenos</h4>
      <div class="redes">

        <a href="https://facebook.com" target="_blank" rel="noopener" class="facebook">
          <svg viewBox="0 0 24 24">
            <path fill="currentColor"
              d="M22 12A10 10 0 1 0 10 21.95V14.9H7.9V12h2.1V9.8c0-2.07 1.23-3.2 3.12-3.2.9 0 1.84.16 1.84.16v2.02h-1.04c-1.02 0-1.34.63-1.34 1.28V12h2.28l-.36 2.9h-1.92v7.05A10 10 0 0 0 22 12z"/>
          </svg>
        </a>

        <a href="https://instagram.com" target="_blank" rel="noopener" class="instagram">
          <svg viewBox="0 0 24 24">
            <path fill="currentColor"
              d="M7.75 2h8.5A5.75 5.75 0 0 1 22 7.75v8.5A5.75 5.75 0 0 1 16.25 22h-8.5A5.75 5.75 0 0 1 2 16.25v-8.5A5.75 5.75 0 0 1 7.75 2zm4.25 5.5A4.75 4.75 0 1 0 16.75 12 4.75 4.75 0 0 0 12 7.5zm0 7.8A3.05 3.05 0 1 1 15.05 12 3.05 3.05 0 0 1 12 15.3zm4.9-8.6a1.1 1.1 0 1 1-1.1-1.1 1.1 1.1 0 0 1 1.1 1.1z"/>
          </svg>
        </a>

        <a href="https://youtube.com" target="_blank" rel="noopener" class="youtube">
          <svg viewBox="0 0 24 24">
            <path fill="currentColor"
              d="M21.8 8s-.2-1.4-.8-2a2.9 2.9 0 0 0-2-0.8C16.5 5 12 5 12 5s-4.5 0-7 .2a2.9 2.9 0 0 0-2 .8C2.4 6.6 2.2 8 2.2 8S2 9.6 2 11.2v1.6c0 1.6.2 3.2.2 3.2s.2 1.4.8 2a2.9 2.9 0 0 0 2 .8c2.5.2 7 .2 7 .2s4.5 0 7-.2a2.9 2.9 0 0 0 2-.8c.6-.6.8-2 .8-2s.2-1.6.2-3.2v-1.6c0-1.6-.2-3.2-.2-3.2zM10 14.5v-5l5 2.5-5 2.5z"/>
          </svg>
        </a>
      </div>
  </div>
  <a
  href="https://wa.me/5210000000000"
  class="whatsapp-float"
  target="_blank"
  rel="noopener"
>
  <img
    src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/whatsapp.svg"
    alt="WhatsApp"
  />
</a>
</footer>