.admin{

max-width:500px;
margin:auto;

padding:40px;

}

input,textarea{

width:100%;

padding:10px;

margin-bottom:15px;

border-radius:6px;

border:1px solid #ccc;

}

button{

background:var(--color-secundario);

color:white;

border:none;

padding:12px;

border-radius:6px;

cursor:pointer;

}