/* You can add global styles to this file, and also import other style files */
:root {
  --color-primario: #1f3a56;
  --color-secundario: #d4a017;
  --color-fondo: #f5f6f7;
  --color-azul: #2f5d7c;
  --color-blanco: #ffffff;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--color-fondo);
}

/* Animación suave al cargar secciones */
.fade-in {
  animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

router-outlet + * {
  display: block;
  animation: pageFade 0.5s ease;
}

@keyframes pageFade {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ANIMACIÓN SCROLL */

.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.reveal.activo {
  opacity: 1;
  transform: translateY(0);
}